:root {
  --backgroundColor: #111111;
  --nameColor: #fafafa;
  --descriptionColor: #9ca3af;
  --textColor: white;
}

*,
::before,
::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

@media (width >= 900px) {
  .contentGrid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (650px < width < 900px) {
  .contentGrid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width <= 650px) {
  .contentGrid {
      grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

* {
  color: var(--textColor);
  /* Remove margin from body */
  margin: 0; 
  line-height: calc(1em + 0.5rem);
}

body {
  background-color: var(--backgroundColor, #111111);
  /* font-family: 'Alpino', sans-serif; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: var(--nunito);
}


.header {
  position: sticky;
  top: 0;
  background-color: var(--backgroundColor);
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 1;
  /* border-bottom-width: 0.25rem;
  border-bottom-color: var(--descriptionColor);
  border-bottom-style: solid; */
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border: 0;
  border-bottom: 0.125rem;
  border-color: hsla(0, 0%, 100%, 0.1);
  border-style: solid;
}

.header > h1 {
  color: var(--nameColor);
  /* font-family: 'Bebas Neue', sans-serif; */
  font-family: var(--bebasNeue);
  /* letter-spacing: 0.05rem; */
  /* font-size: 2rem; */
 
}

.bio {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.bio > h1 {
  color: var(--nameColor);
  /* font-family: 'Bebas Neue', sans-serif; */
  font-family: var(--bebasNeue);
  font-size: 1.5rem;
  /* font-family: 'Nunito', sans-serif; */
  word-wrap: break-word;
  /* letter-spacing: 0.05em; */
}

.bio > p {
  word-wrap: break-word;
  color: var(--descriptionColor);
  max-width: 60ch;
}

.contentGrid {
  /* width: 60%; */
  /* margin-inline: auto; */
  /* max-width: 80%; */
  padding-left: 1rem;
  padding-right: 1rem;
  display: grid;
  grid-gap: 0.75rem;

  /* position: relative; */
}

.flexCol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.portfolioItem > img {
  /* max-height: 100%; */
  object-fit: contain;
  /* max-width: 100%; */
  width: 100%;
  height: auto;
}

.portfolioItem > img:hover {
  opacity: 80%;
  cursor: pointer;
}

.infoCard {
  /* Inline block removed the underline of its children due to parent anchor tag */
  display: inline-block;
  width: 100%;
}

.description {
  /* text-decoration-line: none; */
  /* This removes the underlined text due to the anchor tag */
  /* display: inline-block; */
  /* width: inherit; */
  color: var(--descriptionColor);
  word-wrap: break-word;
}

.name {
  color: var(--nameColor);
  /* font-family: 'Bebas Neue', sans-serif; */
  font-family: var(--bebasNeue);
  word-wrap: break-word;
  /* letter-spacing: 0.025em; */
}

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}

.notFound > h1 {
  font-family: var(--bebasNeue);
  font-size: 3rem;
}